.sorter-container {
    justify-content: flex-end;
    margin-right: 50px;
}

.sorter-container h3{
    font-weight: 300;
    font-size: 1rem;
}

.sorter-select {
    background-color: #FAFBFD;
    font-size: 1rem;
    border: none;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    text-decoration: underline;
}

.sorter-select:focus {
    box-shadow: none;
    outline: none;
}
