.sorter {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 50px;

}

.sorter h3{
	/*margin-right: 15px;*/
    font-weight: 300;
    font-size: 1rem;
}

.sorter-select {
    background-color: #FAFBFD;
    font-size: 1rem;
    border: none;
    font-family: 'Avenir', sans-serif;
    font-weight: 300;
    text-decoration: underline;
/*    -moz-appearance: none;*/
}

.sorter-select:focus {
    box-shadow: none;
    outline: none;
}
