body {
  margin: 0;
  font-family: 'Avenir', sans-serif;
  background-color: #FAFBFD;
}

.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.center-align-items {
	align-items: center;
}

.full-width { 
	width: 100%;
}

.hidden {
	display: none;
}