body {
  margin: 0;
  font-family: 'Avenir', sans-serif;
  background-color: #FAFBFD;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.center-align-items {
	align-items: center;
}